@import "tokens";

body {
  @include text(h1, $font: serif);

  margin: space(6) space("2x"); // same value => 2rem
  background-color: color(canary);

  @include breakpoint(md) {
    @include text(h1, $font: sans, $important: true);

    background-color: color(lilac);
    font-family: font-family(sans);
  }
}
