@import "tokens";

body {
  margin: space(6) space(6);
  background-color: color(canary);
  @include text(h1, $font: serif);

  @include breakpoint(md, $prop: max-width) {
    background-color: color(lilac);
    font-family: font-family(sans);
  }
}
